<div class="bg-color-grey">
    <div class="container">
        <div class="container-list mt-5">
            <h2 class="text-center personal-list-heading">My Blogs</h2>
            <div class="row mt-4">
                <div class="col-md-4 mb-4" *ngFor="let item of data">
                    <div class="card h-100" (click)="clicked(item.blogId)">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.blogTitle }}</h5>
                            <p class="card-text">{{ item.blogContent }}</p>
                            <p class="card-date"><strong>Date:</strong> {{ item.blogDate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  